.dark .vertical-timeline-element-date {
  color: #cbd5e1;
}
.vertical-timeline-element-date {
  color: rgb(88, 101, 113);
}
.vertical-timeline-element-icon svg {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
}
.dark .vertical-timeline-element-icon {
  color: #99f6e4;
}

@media (prefers-reduced-motion: reduce) {
  .vertical-timeline--animate .vertical-timeline-element-icon.bounce-in,
  .vertical-timeline--animate .vertical-timeline-element-content.bounce-in {
    animation: none !important;
    visibility: visible !important;
  }
}
