/* Apply grayscale effect on images */
.project-image img {
  transition: 0.5s ease;
}

/* Remove grayscale effect and scale up on hover */
@media (min-width: 768px) {
  .project-image img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.flickity-enabled:focus {
    outline: none;
}

/* fixes bug on mobile for flickity */
@media (max-width: 768px) {
  .no-horizontal-scroll {
    overflow-x: hidden;
  }
}
