/* Apply grayscale effect on images */
.project-image {
  transition: 0.5s ease;
}

/* Remove grayscale effect and scale up on hover */
.project-image:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.flickity-enabled:focus {
    outline: none;
}

.flickity-slider {
  align-items: center;
}